body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* loading */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 80px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* login */
.bg {
  background-color: #cceeff;
}

.login {
  width: 400px;
  margin: 70px auto;
  padding-bottom: 20px;
}

.login input {
  margin-bottom: 20px;
}

.login button {
  margin-bottom: 20px;
}

.logologin {
  width: 100%;
  padding: 15px;
  color: white;
  margin-bottom: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
}

.produk img {
  width: 100%
}

.card {
  color: green;
}
